#mejores_hipercars{
    text-align: center;
    font-family:Cambria;
    font-size: 42px;
    color:rgb(1, 1, 1);
    }
    

p{
    text-align: center;
    font-family: 'Anek Kannada', sans-serif;
    font-size: 15px;

}

#img_1{
    margin-left:  20%;
    height: 400px;
    width: 750px; 
    border-radius: 100px;
    border-color: rgb(228, 32, 10);
    border-width: 8px;
    border-color: gold;
    border-style:solid;
    
}

#img_2{
    margin-left: 20%;
    height: 400px;
    width: 700px;
    border-radius: 100px;
    border-width: 8px;
    border-color: gold;
    border-style: solid;
}

.img_car{
    margin-left: 20%;
    height: 400px;
    width: 750px;
    border-radius: 100px;
    border-width: 8px;
    border-color: gold;
    border-style: dotted solid dashed double;
}

h2{
    text-align: center;
    color: gold;
}

p{
    color: white;
}

#div-1{
    background-color: blue;
}
#div-2 {
    background-color:rgb(0, 0, 255);
}

#div-3{
background-color: crimson;
}

#img_4{                 
    margin-left: 20%;
    border-width: 2px;
    border-radius: 100px;
    border-color:gold;
    border-style: solid;
    height: 450px;
    width: 750px;
    
}

#div-3{
   
    background-color: rgb(24, 148, 138);
    
    
}


.combinado{
    padding: 10px;
    background-color: blanchedalmond;
    margin-left: 35px;
    margin-top:40px;
    height: 300px;
    width: 350px;
    border-radius: 80px;
    border-width: 10px;
    border-color: gold;
    border-style: double;

}
#div-prueba{
   background-color: deepskyblue;
  width: 330px;
  margin-left: 75%;
  position:relative;
  top: 300px;
}

#prueba{

   width: 300px;
   border-radius: 80px;
   position: relative;
   left: 20px;
}

form{
background-color: blue;
}

.jug{
    
    
}

.enviar{
    border-width: 10px;
    border-color: chartreuse;
    border-style: double;
    background-color: rgb(245, 192, 15);
}

#div-4{
    color: rgb(255, 255, 255);
    font-size: 5px;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.rectangulo  {
    padding: 10px;
    margin: 10px;
}

.px {
   
    background-color: chocolate;
    width: 200px;
}


.vw {
    position: relative;
    left: 200px;
    background-color: turquoise;
    margin-top: 40px;
    width:20vw;
}

.em {

   width: 35em;
   background-color: aqua;
   position: relative;
   left: 100px;
   text-align: center;
   font-size: 1.5em;
}

#colores{
    background-color: #2fd0cd;
}